<html>
<head>

 <style>
	 #dil{
	 	font-size:5vmin;
	 }
	 td{
	 	font-size:5vmin;
	 	border:0px solid;
	 	padding:5px;
	 	text-align:center;
		 background-image: linear-gradient(to top, #84C1FF	, #84C1FF	);
         background-color: darkblue;
       
	 }
     img{
        width: 100%;
        height: auto;
     }
 
	 table{
   	border-collapse: collapse;
   	width: 770px; 	
   	/*自動斷行*/
   	word-wrap: break-word;
   	table-layout: fixed;
   }
   .tooltips {
          position: fixed;
          padding:10px;
          background-color:white;
          border-radius:10px;
          border:3px solid;
          height:auto;
          width:10%;
          top:100px;
          left:10%;
          z-index:999999999;
          display:block;
        }
   body{
	background-image: linear-gradient(to top, #84C1FF	, #84C1FF	);

   }
   a{
	font-size: 4vmin;
   }

 </style>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    //全域變數
    var hostname = "192.168.2.105:5000/"
    var self_select = "";
    var playerID = "";

setInterval(() => {
    console.log("test");
    
    $.ajax({
                type: "GET",
                url:  "menber",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //TODO : 要透過data.userlog紀錄的每位玩家的ID值來撈取data.menber.玩家ID
                    console.log(data.menber);
                    console.log(data.menber.playerID);
                    var user_log = data.userlog;
                    var imgID = document.getElementById("menber").querySelectorAll("img");
                    for(var i = 0;i < imgID.length;i++){
                            
                            if(user_log.length != 0){
                               
                                for(var di = 0;di<user_log.length;di++){
                                    console.log(document.getElementById(data.menber.user_log[di]));
                                    // if(data.menber[di] == imgID[i].id){
                                    //     document.getElementById(data.menber[di]).style.opacity = 0.3;
                                    //     document.getElementById(data.menber[di]).parentElement.style.backgroundColor = "red";

                                    // }                                
                                }// console.log(document.getElementById(data.menber[di]));
                               
                            }
                            
                           
                            
                        }
                        
                    
                    
                },
                error: function () {
                    // 请求失败后的处理
                    console.log("请求失败");
                }
            });
}, 500);

function getUrlC(){
    //初入頁面建立
    var dt = new Date();
    var urlParams = new URLSearchParams(window.location.search);
    playerID = "A"+dt.getTime();
    urlParams.set('state', playerID);
    var newUrl = window.location.pathname + '?' + urlParams.toString();
    window.history.pushState({}, '', newUrl);

    $.ajax({
                type: "POST",
                url:  "usertime",
                data: JSON.stringify({
                        "set_time":playerID,                   
                    }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //console.log(data.menber);
                
                }
            });

    var imgID = document.getElementById("menber").querySelectorAll("img");
for(var i =0;i < imgID.length;i++){
    imgID[i].addEventListener('click',function(e){
        if(this.parentElement.style.backgroundColor != "red"){
            if(self_select == ""){
                self_select = this.id;
                console.log(this.id);
                console.log("測試"+self_select)
                $.ajax({
                    type: "POST",
                    url:  "user",
                    data: JSON.stringify({
                        "user": playerID,
                        "selected": this.id,
                    
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log("成功");
                    },
                    error: function () {
                        // 请求失败后的处理
                        console.log("请求失败");
                    }
                });
                
            }     
        }else{
                if(this.id == self_select){
                this.style.opacity = 1;
                self_select = "";
                $.ajax({
                    type: "POST",
                    url:  "user",
                    data: JSON.stringify({
                        "user": this.id,
                    
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log("成功");
                    },
                    error: function () {
                        // 请求失败后的处理
                        console.log("请求失败");
                    }
                });
                
            }
        }
        
        
        console.log(this.id);
        console.log("以選擇 : "+self_select);
    })

    document.getElementById(imgID[i].id).addEventListener('mousemove',function(event){
        if(this.parentElement.style.backgroundColor == "red"){
            var mouseX = event.clientX;
            var mouseY = event.clientY;
            document.getElementsByClassName('tooltips')[0].innerHTML = "已被選取"; 
            document.getElementsByClassName('tooltips')[0].style.left = mouseX + "px";
            document.getElementsByClassName('tooltips')[0].style.top = mouseY + "px";
            document.getElementsByClassName('tooltips')[0].style.display = "block"
        }else{
            this.style.opacity = 0.5;
        }              
    });
    document.getElementById(imgID[i].id).addEventListener('mouseleave',function(event){
        if(this.parentElement.style.backgroundColor == "red"){
           
            document.getElementsByClassName('tooltips')[0].style.display = "none"
        }else{
            this.style.opacity = 1;
        }              
    });
}
}

function reset_menber(){
    $.ajax({
                type: "POST",
                url:  "clear_user",
               
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log("成功");
                },
                error: function () {
                    // 请求失败后的处理
                    console.log("请求失败");
                }
            });
        console.log(this.id);
}
function runGame(){
    window.location.href = "/";
}
</script>
</head>
<!-- <div id="mask" style="text-align: center;width: 120%;height: 100vh;display:block;position: fixed;background-color: black;opacity: 0.7;">
    <form>
        Please Enter Your Name :

    </form>

</div> -->
<div class="tooltips" style="display:none">
    <span class="tooltiptext">Tooltip text</span>
      
  </div>
	<body onload="getUrlC()">
		<br/>
		<h1 style="text-align:center ;">AEAS 太空競賽桌遊</h1>
		<br/>
	<div class="dik">
		<table id="menber" class="nav navbar-nav" style="position:absolute;left:5%;width:90%;">
            <tr>
                <td>
                    <img id="M1" src="static/M1.png" />
                </td>
                <td>
                    <img id="M2" src="static/M2.png"/>
                </td>
                <td>
                    <img id="M3" src="static/M3.png" />
                </td>
                <td>
                    <img id="M4" src="static/M4.png" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="button" class="btn btn-outline-success " value="開始" onclick="runGame()" />
                    <input type="button" class="btn btn-outline-danger" onclick="reset_menber()" value="Reset" />

                </td>
            </tr>
		</table>
		<br/>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	</body>

</html>